<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ojeda Sabrina Alejandra</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio nemo dolor maiores minima distinctio veniam vitae quod esse, quia dolores corrupti voluptatem reiciendis, voluptatibus quae inventore molestiae ratione accusamus vero.</p1>
        </span>
    </div>
</div>