<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
                <h3>{(years)}</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                At quas velit consequuntur perferendis laudantium, dignissimos
                a consectetur laborum sapiente molestias amet nostrum aperiam cumque ut sequi. 
                Perspiciatis voluptate neque nihil.
            </p>
        </ul>

        <ul>
            <li><h1>Trabajo 2</h1> - 
                <h3>{(years)}</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                At quas velit consequuntur perferendis laudantium, dignissimos
                a consectetur laborum sapiente molestias amet nostrum aperiam cumque ut sequi. 
                Perspiciatis voluptate neque nihil.
            </p>
        </ul>

        <ul>
            <li><h1>Trabajo 3</h1> - 
                <h3>{(years)}</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                At quas velit consequuntur perferendis laudantium, dignissimos
                a consectetur laborum sapiente molestias amet nostrum aperiam cumque ut sequi. 
                Perspiciatis voluptate neque nihil.
            </p>
        </ul>
    </div>
</div>
